.contact_modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn {
  border: none;
  background: transparent;
}
.contact_modal #namePhotographer {
  width: 100%;
  text-align: left;
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}
.message-alert {
  display: none;
}
.message-alert.show {
  display: block;
}

.photograph-header {
  background-color: #fafafa;
  height: auto;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form textarea {
  width: 100%;
  height: 150px;
  border: none;
  margin-bottom: 1rem;
}

.error-message {
  color: #901c1c;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (width < 1024px) {
  .photograph-header .global-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .modal {
    width: 90%;
  }
  .modal header {
    flex-direction: row;
  }
  .modal header img {
    display: block;
    width: 32px;
  }
  .modal header h2 {
    font-size: 24px;
  }
  .contact_modal #namePhotographer {
    font-size: 32px;
  }
  form label {
    font-size: 24px;
  }
}
@media (width < 768px) {
  .photograph-header {
    margin: 0;
  }
  .galery {
    margin-top: 50px;
  }
  .galery-item {
    width: 100%;
    overflow: hidden;
    max-width: none;
  }
}
