.contact_modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn {
  border: none;
  background: transparent;
}
.contact_modal #namePhotographer {
  width: 100%;
  text-align: left;
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
}
.message-alert {
  display: none;
}
.message-alert.show {
  display: block;
}

.photograph-header {
  background-color: #fafafa;
  height: auto;
  margin: 0 6.25rem;
}
.photograph-header .global-section {
  align-items: center;
}
.contact_button {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: 0.6875rem;
  width: 10.625rem;
  height: 4.375rem;
  border: none;
  background-color: #901c1c;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.modal {
  border-radius: 0.3125rem;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.1875rem;
  max-height: 90vh;
  overflow-y: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 2.25rem;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 1.625rem;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 0.3125rem;
}
form textarea {
  width: 100%;
  height: 9.375rem;
  border: none;
  margin-bottom: 1rem;
}

.error-message {
  color: #901c1c;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (width < 1024px) {
  .photograph-header .global-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .modal {
    width: 90%;
  }
  .modal header {
    flex-direction: row;
  }
  .modal header img {
    display: block;
    width: 2rem;
  }
  .modal header h2 {
    font-size: 1.5rem;
  }
  .contact_modal #namePhotographer {
    font-size: 2rem;
  }
  form label {
    font-size: 1.5rem;
  }
}
@media (width < 768px) {
  .photograph-header {
    margin: 0;
  }
  .galery {
    margin-top: 3.125rem;
  }
  .galery-item {
    width: 100%;
    overflow: hidden;
    max-width: none;
  }
}
