@import url('photographer.css');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
}
.global-section .div-left h2,
.photographer_section article h2 {
  color: #d3573c;
  font-size: 64px;
  line-height: 84px;
  font-weight: 400;
  margin: 10px;
  text-align: center;
}
@media screen and (max-width: 64rem) {
  .global-section .div-left h2,
  .photographer_section article h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
    margin: 10px;
    text-align: center;
  }
}
.global-section .div-left .adress,
.photographer_section article .adress {
  color: #901c1c;
  margin: 0 0 10px 0;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
}
.global-section .div-left .tagline,
.photographer_section article .tagline {
  color: #000;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 10px 0;

}

.photographer_section article .price {
  color: #757575;
  margin-bottom: 3px;
  font-size: 9px;
  line-height: 11.7px;
  font-weight: 400;
  text-align: center;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.photographer_section article p {
  margin: 0;
}

.global-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 56px 50px;
}
.global-section .div-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  flex: 3;
}
.global-section .contact_button {
  flex: 1.5;
}

.global-section .div-right {
  display: flex;
  justify-content: flex-end;
  flex: 3;
}
.global-section .div-right img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.photograph-filter,
.photograph-galery {
  margin: 0 100px;
}
.galery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
  justify-content: space-between;
  align-items: flex-start;
}
.galery-item {
  width: calc(33.333% - 30px);
  overflow: hidden;
  border-radius: 5px;
  max-width: 350px;
}
.galery-item-img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;

}
.galery-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
.galery-item-likes {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
@media (max-width: 48rem) {
  .galery-item {
    width: calc(50% - 30px);
    overflow: hidden;
    border-radius: 5px;
    max-width: 350px;
  }
}
.counter-ctn {
  position: fixed;
  bottom: 0;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
}
.hidden {
  display: none;
}

.lightbox {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(219, 219, 219, 0.7);
}

.lightbox .lightbox-windows {
  color: #901c1c;
  width: 100%;
  height: 100%;
  position: relative;
  animation: apparition-down 0.8s ease-in-out;
}

@media screen and (min-width: 76.8rem) {
  .lightbox .lightbox-windows {
    width: 100%;
    height: 100%;
  }
}

@keyframes apparition-down {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.lightbox .lightbox-windows .container-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 0.6rem;
  background-color: white;
  overflow: hidden;
  padding-left: 0;
}
.lightbox .lightbox-windows .container-slides .hidden {
  opacity: 0;
}
.lightbox .lightbox-windows .container-slides .active {
  opacity: 1 !important;
}

.lightbox .lightbox-windows .container-slides img {
  margin: auto;
  height: 85%;
  width: 70%;
  position: absolute;
  border-radius: 0.6rem;
  background-color: #868686;
  object-fit: cover;
  object-position: 0% 15%;
}

.lightbox .lightbox-windows .container-slides video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: absolute;
  height: 85%;
  width: 70%;
  border-radius: 0.6rem;
  background-color: #868686;
  object-fit: cover;
}

.lightbox .lightbox-windows .commandes {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.lightbox .lightbox-windows .commandes .close {
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  top: 2%;
  right: 7%;
  cursor: pointer;
  color: #901c1c;
}

.lightbox .lightbox-windows .commandes .right,
.lightbox .lightbox-windows .commandes .left {
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.lightbox .lightbox-windows .commandes .right em,
.lightbox .lightbox-windows .commandes .left em {
  font-size: 40px;
  position: relative;
  color: #901c1c;
}

.lightbox .lightbox-windows .commandes button:nth-child(1) {
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  outline: none;
}

.lightbox .lightbox-windows .commandes button:nth-child(1) em {
  left: -10px;
}

.lightbox .lightbox-windows .commandes button:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  right: 9%;
  outline: none;
}

.titre-media-lightbox {
  position: absolute;
  bottom: 2%;
  left: 15%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 500;
}

.filter {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}
.filter .dropdownMenu {
  display: flex;
  flex-direction: column;
  background: #901C1C;
  position: relative;

}

.filter .dropdownMenu-header {
  display: flex;
  flex-direction: column;
}
.filter .dropdownMenu-header-select .fa-chevron-down {
  transform: rotate(0);
  transition: .8s;
} 
.filter .dropdownMenu-header.open .fa-chevron-down {
  transform: rotate(180deg);
  transition: .8s;
} 
.filter .dropdownMenu-header-select {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  font-size: 18px;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  min-width: 155px;
} 
.filter .dropdownMenu-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  opacity: 0;
  user-select: none;

}
.filter .dropdownMenu-panel .dropdownMenu-panel-option {
  color: white;
  text-decoration: none;
  font-size: 18px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 2rem);
  cursor: pointer;
  padding: 1rem;
  background: #901C1C;
  

}
.filter .dropdownMenu-panel.open {
  height: 100%;
  opacity: 1;
  user-select: all;
  position: absolute;
  bottom: -100%;
  color: white;
  font-size: 18px;
  align-items: center;

}
.filter .dropdownMenu-header.open .dropdownMenu-header-select,
  .filter .dropdownMenu-panel.open .dropdownMenu-panel-option {
border-bottom: 1px solid white;
}